%h1 Listing genres
.row
  .col-md-12
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th Name
          %th
            &nbsp;
          %th Actions

      %tbody
        - @genres.each do |genre|
          %tr
            %td= genre.name
            %td

            %td= link_to 'Edit', edit_genre_path(genre)

%br

= link_to 'New Genre', new_genre_path
