%h1.title Listing genres
.row
  .col-md-10.col-md-offset-1
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th Name
          %th Tempo
          %th Actions

      %tbody
        - @genres.each do |genre|
          %tr
            %td= genre.name
            %td= genre.tempo
            %td= link_to 'Edit', edit_genre_path(genre)

            %br

    = link_to 'New Genre', new_genre_path
