%h1 Listing genres

%table
  %thead
    %tr
      %th Name

      %th Tempo
      %th Actions

  %tbody
    - @genres.each do |genre|
      %tr
        %td= genre.name
        %td= genre.tempo
        %td= link_to 'Edit', edit_genre_path(genre)

%br

= link_to 'New Genre', new_genre_path
