<H2>Conscious Dance Deejays Group</H2>

<H3>About</H3>
<P>
  The group was started in 2007 by Zach Pine, a co-organizer of
  <a href=" http://soulsanctuarydance.com/" target="_blank>Soul Sanctuary Dance</a>,
  inspired by the generosity of two deejays who shared music ideas with him at
  the <a href="http://ncdcdances.org/" target="_blank>NCDC Summer Dance Camp</a>.
  In 2016, <a href="http://villataika.fi" target="_blank">Torsten R&uuml;ger</a> provided a
  major upgrade, enabling the song database to be searched and sorted,
  and automating membership functions.
  <br/>
  If you have a question or comment, contact
  <a href="http://www.soulsanctuarydance.com/contact.html" target="_blank">Zach Pine</a>
  through Soul Sanctuary Dance.
</P>
