<div class="row">
<div class="col-md-12">
	<H2>Conscious Dance Deejays Group<br />
		Hundreds worldwide share thousands of song suggestions</H2>
	<H3>The song database built on giving and getting</H3>

	<img src="<%= image_url('dance.jpg')%>" style="float: right; width: 41.66%; max-width:540px;"  />

	<P class="main_img">
		Since 2007, our group members have added thousands of song suggestions to our searchable and
		sortable database. We share information about each song we suggest, including a link to an
		online sample. Our group is not for sharing music files or music downloading.

		<br/>
		<br/>
		We agree to only suggest songs that don't promote prejudice, violence, substance abuse, hatred,
		or stereotypes, and that others can readily sample online and purchase.
		<br/>
		<br/>
		When you <a href="/users/sign_up" target="/users/sign_up">sign up</a>, you are asked to give a song suggestion.
		You then get access to the song database for one month;
		each subsequent time you suggest a song you get a month of access. There are no charges and no advertisements.
	</P>

	<H3>The people and the dances</H3>
	<P>
		Our group is for people who provide music for freestyle dances, dance jams, ecstatic dances,
		barefoot boogies, healing dances, dance rituals, community dances, contact improvisation,
		Earthdance, 5Rhythms<sup>tm</sup>, Sweat Your Prayers<sup>tm</sup>, Nia,
		Soul Motion<sup>tm</sup>, Body Choir<sup>tm</sup>, Core Connexion,
		Biodanza, or any dance form whose primary aim is to promote freedom of expression and/or positive
		social or individual change.
	</P>

	<H3>Group communication</H3>
	<P>
		When you <a href="/users/sign_up" target="/users/sign_up">sign up</a>, you are also added to
		our moderated Google group (you can opt out of the Google group at any time).
		Members use the group to make requests for a certain type of song,
		discuss approaches to creating playlists and techniques for live deejaying, and offer resource links.
	</P>
</div>
