.container
  #wsite-content.wsite-elements.wsite-not-footer
    %h2.wsite-content-title{:style => "text-align:left;"}
      Conscious Dance deejays -
      %span 248 members worldwide, and 2,207 songs in the Music Database
      %br/
    %span.imgPusher{:style => "float:right;height:0px"}
    %span{:style => "display: table;z-index:10;width:auto;position:relative;float:right;max-width:100%;;clear:right;margin-top:5px;*margin-top:10px"}
      %a.main_image= image_tag "d.jpg"
      %span.wsite-caption{:style => "display: table-caption; caption-side: bottom; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"}
    .paragraph{:style => "text-align:left;display:block;"}
      %span{:style => ""}
        %strong
          %span{:style => ""} WHO BELONGS, WHO CAN JOIN, HOW TO JOIN:
        %br/
        %span{:style => ""}
        %br/
        %span{:style => ""}
        %span{:style => ""} Our  group is for people who provide music for: freestyle dances, ecstatic  dances, dance jams, barefoot boogies, healing dances, dance rituals,  community dances, contact improvisation, Earthdance, 5Rhythms (TM),  Sweat Your Prayers (TM), Nia, Soul Motion (TM), Body Choir (TM), Core  Connexion, Biodanza, or any dance form promoting freedom of expression  and/or positive social or individual change.
        %br/
        %span{:style => ""}
        %br/
        %span{:style => ""}
        %span{:style => ""}
          Here’s the 
          %span{:style => ""}
            %a{:href => "https://www.google.com/maps/@20.4311524,-71.4096738,3z/data=!4m2!6m1!1szJNhkpMzQGus.kKqbPfH0q0bM", :style => "", :target => "_blank", :title => ""} map showing where our members are, spanning 12,000 miles!
        %br/
        %span{:style => ""}
        %br/
        %span{:style => ""}
        %span{:style => ""} To join, read this page, then follow the link at the bottom.
        %br/
        %span{:style => ""}
        %br/
        %span{:style => ""}
        %strong
          %span{:style => ""} WHY:
        %br/
        %span{:style => ""}
        %br/
        %span{:style => ""}
        %span{:style => ""} The  main mission of this group is to exchange music information (not  song files) through the Music Database. The group also provides a forum  for discussion.
        %br/
        %span{:style => ""}
        %br/
        %span{:style => ""}
        %strong
          %span{:style => ""} HOW THE MUSIC DATABASE WORKS:
        %br/
        %span{:style => ""}
        %br/
        %span{:style => ""}
        %span{:style => ""} In  order to join the group, you have to contribute one song suggestion for  the Database. You are then provided with a link to the Database. Every  month you'll get a reminder to contribute a song entry to the database.  After you contribute, you'll get access to the Database for that month.
        %br/
        %span{:style => ""}
        %br/
        %span{:style => ""}
        %strong
          %span{:style => ""} WILL OTHER DEEJAYS IN MY CITY PLAY MY SUGGESTIONS?
        %br/
        %span{:style => ""}
        %br/
        %span{:style => ""}
        %span{:style => ""} Only  if you want them to. When you add a song you can say "OK to play  anywhere," or you can list a city or cities where you would like others  not to play the song (if they learned about it through your entry in the  database). Members agree to respect geographical limits if any, but  limits are very rarely placed.
        %br/
        %span{:style => ""}
        %br/
        %span{:style => ""}
        %strong
          %span{:style => ""} WHAT KINDS OF SONGS DO WE WANT IN THE DATABASE?
        %br/
        %span{:style => ""}
        %br/
        %span{:style => ""}
        %span{:style => ""} 1. Songs that don't promote prejudice, violence, substance abuse, hatred, or stereotypes
        %br/
        %span{:style => ""}
        %br/
        %span{:style => ""}
        %span{:style => ""} 2. Songs that others can readily sample online and purchase legally (not "rare vinyl" for example)
      %span{:style => ""}
        %br/
        %br/
      %strong
        %span{:style => ""} WHAT ABOUT GROUP DISCUSSIONS?
      %span{:style => ""}
        %br/
        %br/
      %span{:style => ""}
        Members of the group can exchange group emails via our moderated group. When you join us, you automatically are included in our email discussions. Please limit discussions to DJ-related topics, and don't use the group to promote events or yourself.
        %br/
      %span{:style => ""}
        %span{:style => ""}
          %br/
      %span{:style => ""}
        %span{:style => ""}
          %strong
            %span{:style => ""} WHO RUNS THE GROUP, WHY, AND SINCE WHEN?
          %br/
          %span{:style => ""}
          %br/
          %span{:style => ""}
          %span{:style => ""} I  started the group in 2007, inspired by the generosity of two deejays  who shared music ideas with me at the NCDC Summer Dance Camp. I love  being able to support conscious dances worldwide through sharing.
          %br/
          %span{:style => ""}
          %br/
          %span{:style => ""}
          %span{:style => ""}
            \-Zach Pine co-leader and co-resident deejay for
            %a{:href => "http://www.soulsanctuarydance.com", :style => "", :target => "_blank", :title => ""} Soul Sanctuary Dance
          %br/
          %span{:style => ""}
          %br/
          %span{:style => ""}
          %strong{:style => ""}
            %span{:style => ""} HOW TO JOIN:
          %br/
          %span{:style => ""}
          %br/
          %span{:style => ""}
          %span{:style => ""} Be  prepared to suggest one song for our database (don't worry if you think  we already have it). All you need is the song title, artist, album  (unless it's a single). Make sure a sample to listen to is available  somewhere online (iTunes, Amazon, YouTube, etc). 
          %br/
          %span{:style => ""}
          %br/
          %span{:style => ""}
          %span{:style => ""}
            Then, use this 
            %a{:href => "http://tinyurl.com/cddjsignup", :style => "", :target => "_blank", :title => ""} online form to suggest that one song and join the group
          %span{:style => ""} . After I receive your song suggestion, I'll add you to the group.
          %br/
          %span{:style => ""}
          %br/
          %span{:style => ""}
          %span{:style => ""}
            Questions? Contact me using
            = succeed "." do
              %a{:href => "http://www.soulsanctuarydance.com/contact.html", :style => "", :target => "_blank", :title => ""} this form
          %br/
          %br/
          %span{:style => ""}
    %hr{:style => "width:100%;clear:both;visibility:hidden;"}/
    %div
      %div{:style => "height: 20px; overflow: hidden; width: 100%;"}
      %hr.styled-hr{:style => "width:100%;"}/
      %div{:style => "height: 10px; overflow: hidden; width: 100%;"}
    %div
      %div{:style => "height: 10px; overflow: hidden; width: 100%;"}
      %hr.styled-hr{:style => "width:100%;"}/
      %div{:style => "height: 10px; overflow: hidden; width: 100%;"}
    .paragraph{:style => "text-align:left;"}
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
      %br/
