.row
  .col-md-3
  .col-md-6
    %h1 Editing song

    = render 'form'
    %br
    -if admin?
      = link_to "Delete", song_path(@song), method: :delete , class: "btn btn-danger",
              data: { confirm: "Can't undo delete. Ok?" }
    \|
    = link_to 'Cancel', songs_path
