nav a {
  margin: 0;
  border: 0;
  font-variant: small-caps;
  color: #505050 !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  border-bottom-style: hidden;
  font-size: larger;
  &:hover {
  color: #8A2BE2 !important;
  }
}

a.navbar-brand {
  margin: 0;
  border: 0;
  font-variant: small-caps;
  color: #505050 !important;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom-style: hidden;
  font-size: larger !important;
  &:hover {
  color: #8A2BE2 !important;
  }
}
