.transition1-title h1 {
  color: red;
  text-align: center;
}

.transition1-container {
}

.transition1-box {
  transition: background-color 2s ease-out;
  background-color: blue;
}

.transition1-box:hover {
  background: red;
}

.transformation1-title h1 {
  color: red;
  text-align: center;
}

.transformation1-container {
}

.transformation1-box {
  background-color: green;
}

.transformation1-box:hover {
  transform: rotate(-10deg);
}
